@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300&display=swap');

* {
    margin: 0;
}

body {
    font-family: sans-serif;
}

p {
    margin: 0;
}

/*typography*/
/*titles*/
.h1 {
    font-size: 33px;
    font-family: 'Montserrat', sans-serif;
}

.h2 {
    font-size: 29px;
    font-family: 'Montserrat', sans-serif;
}

.h3 {
    font-size: 26px;
    font-family: 'Montserrat', sans-serif;
}

.h4 {
    font-size: 23px;
    font-family: 'Montserrat', sans-serif;
}

.h5 {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

.h6 {
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
}

/*paragraph*/
.paragraph {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

/*sizing*/
/*margin*/
.m-1 {
    margin: 10px;
}

.m-2 {
    margin: 20px;
}

.m-3 {
    margin: 30px;
}

.m-4 {
    margin: 40px;
}

.m-5 {
    margin: 50px;
}

.m-6 {
    margin: 60px;
}

.m-7 {
    margin: 70px;
}

.m-8 {
    margin: 80px;
}

.m-9 {
    margin: 90px;
}

/*margin top*/
.mt-1 {
    margin-top: 10px;
}

.mt-2 {
    margin-top: 20px;
}

.mt-3 {
    margin-top: 30px;
}

.mt-4 {
    margin-top: 40px;
}

.mt-5 { 
    margin-top: 50px;
}

.mt-6 {
    margin-top: 60px;
}

.mt-7 {
    margin-top: 70px;
}

.mt-8 {
    margin-top: 80px;
}

.mt-9 {
    margin-top: 90px;
}

/*margin bottom*/
.mb-1{
    margin-bottom: 10px;
}

.mb-2 {
    margin-bottom: 20px;
}

.mb-3 {
    margin-bottom: 30px;
}

.mb-4 {
    margin-bottom: 40px;
}

.mb-5 {
    margin-bottom: 50px;
}

.mb-6 {
    margin-bottom: 60px;
}

.mb-7 {
    margin-bottom: 70px;
}

.mb-8 {
    margin-bottom: 80px;
}

.mb-9 {
    margin-bottom: 90px;
}

/*margin left*/
.ml-1 {
    margin-left: 10px;
}

.ml-2 {
    margin-left: 20px;
}

.ml-3 {
    margin-left: 30px;
}

.ml-4 {
    margin-left: 40px;
}

.ml-5 {
    margin-left: 50px;
}

.ml-6 {
    margin-bottom: 60px;
}

.ml-7 {
    margin-left: 70px;
}

.ml-8 {
    margin-left: 80px;
}

.ml-9 {
    margin-left: 90px;
}

/*margin right*/
.mr-1 {
    margin-right: 10px;
}

.mr-2 {
    margin-right: 20px;
}

.mr-3 {
    margin-right: 30px;
}

.mr-4 {
    margin-right: 40px;
}

.mr-5 {
    margin-right: 50px;
}

.mr-6 {
    margin-right: 60px;
}

.mr-7 {
    margin-right: 70px;
}

.mr-8 {
    margin-right: 80px;
}

.mr-9 {
    margin-right: 90px;
}

/*padding*/
.p-1 {
    padding: 10px;
}

.p-2 {
    padding: 20px;
}

.p-3 {
    padding: 30px;
}

.p-4 {
    padding: 40px;
}

.p-5 {
    padding: 50px;
}

.p-6 {
    padding: 60px;
}

.p-7 {
    padding: 70px;
}

.p-8 {
    padding: 80px;
}

.p-9 {
    padding: 90px;
}

/*padding top*/
.pt-1 {
    padding-top: 10px;
}

.pt-2 {
    padding-top: 20px;
}

.pt-3 {
    padding-top: 30px;
}

.pt-4 {
    padding-top: 40px;
}

.pt-5 { 
    padding-top: 50px;
}

.pt-6 {
    padding-top: 60px;
}

.pt-7 {
    padding-top: 70px;
}

.pt-8 {
    padding-top: 80px;
}

.pt-9 {
    padding-top: 90px;
}

/*padding bottom*/
.pb-1{
    padding-bottom: 10px;
}

.pb-2 {
    padding-bottom: 20px;
}

.pb-3 {
    padding-bottom: 30px;
}

.pb-4 {
    padding-bottom: 40px;
}

.pb-5 {
    padding-bottom: 50px;
}

.pb-6 {
    padding-bottom: 60px;
}

.pb-7 {
    padding-bottom: 70px;
}

.pb-8 {
    padding-bottom: 80px;
}

.pb-9 {
    padding-bottom: 90px;
}

/*padding left*/
.pl-1 {
    padding-left: 10px;
}

.pl-2 {
    padding-left: 20px;
}

.pl-3 {
    padding-left: 30px;
}

.pl-4 {
    padding-left: 40px;
}

.pl-5 {
    padding-left: 50px;
}

.pl-6 {
    padding-bottom: 60px;
}

.pl-7 {
    padding-left: 70px;
}

.pl-8 {
    padding-left: 80px;
}

.pl-9 {
    padding-left: 90px;
}

/*padding right*/
.pr-1 {
    padding-right: 10px;
}

.pr-2 {
    padding-right: 20px;
}

.pr-3 {
    padding-right: 30px;
}

.pr-4 {
    padding-right: 40px;
}

.pr-5 {
    padding-right: 50px;
}

.pr-6 {
    padding-right: 60px;
}

.pr-7 {
    padding-right: 70px;
}

.pr-8 {
    padding-right: 80px;
}

.pr-9 {
    padding-right: 90px;
}

/*sizing*/
/*width*/
.w-25 {
    width: 25%;
}

.w-50 {
    width: 50%;
}

.w-75 {
    width: 75%;
}

.w-100 {
    width: 100%;
}

/*height*/
.h-25 {
    height: 25%;
}

.h-50 {
    height: 50%;
}

.h-75 {
    height: 75%;
}

.h-100 {
    height: 100%;
}

/*display*/
.d-block {
    display: block;
}

.d-none {
    display: none;
}

.d-flex {
    display: flex;
}

.d-grid {
    display: grid;
}

.d-inline {
    display: inline;
}

.d-iblock {
    display: inline-block;
}

.d-iflex {
    display: inline-flex;
}

.d-table {
    display: table;
}

/*container*/
.container {
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.container-sm {
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.container-md {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.container-lg {
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.container-xl {
    margin-left: 11%;
    margin-right: 11%;
    margin-top: 10px;
    margin-bottom: 10px;
}

/*colors*/
.c-red {
    color: red;
}

.c-yellow {
    color: yellow;
}

.c-blue {
    color: #0d6efd;
}

.c-green {
    color: green;
}

.c-orange {
    color: orangered;
}

.c-gray {
    color: #404040;
}

.c-white {
    color: white;
}

.c-black {
    color: black;
}

/*background colors*/
.bg-red {
    background-color: red;
}

.bg-yellow {
    background-color: yellow;
}

.bg-blue {
    background-color: #0d6efd;
}

.bg-green {
    background-color: green;
}

.bg-orange {
    background-color: orangered;
}

.bg-gray {
    background-color: #404040;
}

.bg-white {
    background-color: white;
}

.bg-black {
    background-color: black;
}

/*button*/
.btn {
    text-decoration: none;
    border-radius: 10px;
    padding: 15px;
}

/*style*/
.btn-outline {
    background-color: white;
}

/*size*/
.btn-sm {
    padding: 10px;
}

.btn-md {
    padding: 15px;
}

.btn-lg {
    padding: 20px;
}

.btn-xl {
    padding: 25px;
}

/*colors*/
/*outline buttons*/
.btn-outline-red {
    color: red;
    border: 2px solid red;
    border-radius: 10px;  
}

.btn-outline-red:hover {
    background-color: red;
    color: white;
}

.btn-outline-red:focus {
    border: 2px solid rgb(255, 150, 150);
}

.btn-outline-yellow {
    color: yellow;
    border: 2px solid yellow;
    border-radius: 10px;  
}

.btn-outline-yellow:hover {
    background-color: yellow;
    color: black;
}

.btn-outline-yellow:focus {
    border: 2px solid rgb(255, 255, 184);
}

.btn-outline-blue {
    color: #0d6efd;
    border: 2px solid #0d6efd;
    border-radius: 10px;  
}

.btn-outline-blue:hover {
    background-color: #0d6efd;
    color: white;
}

.btn-outline-blue:focus {
    border: 2px solid rgb(150, 160, 255);
}

.btn-outline-green {
    color: green;
    border: 2px solid green;
    border-radius: 10px;  
}

.btn-outline-green:hover {
    background-color: green;
    color: white;
}

.btn-outline-green:focus {
    border: 2px solid rgb(172, 248, 172);
}

.btn-outline-orange {
    color: orangered;
    border: 2px solid orangered;
    border-radius: 10px;  
}

.btn-outline-orange:hover {
    background-color: orangered;
    color: white;
}

.btn-outline-orange:focus {
    border: 2px solid rgb(250, 159, 126);
}

.btn-outline-gray {
    color: #404040;
    border: 2px solid #404040;
    border-radius: 10px;  
}

.btn-outline-gray:hover {
    background-color: #404040;
    color: white;
}

.btn-outline-gray:focus {
    border: 2px solid #b6b6b6;
}

.btn-outline-white {
    color: rgb(90, 90, 90);
    border: 2px solid #f5f5f5;
    border-radius: 10px;  
}

.btn-outline-white:hover {
    background-color: #dbdbdb;
    color: white;
}

.btn-outline-white:focus {
    border: 2px solid #f1f1f1;
}

/*normal buttons*/
.btn-red {
    color: white;
    border: 2px solid red;
    border-radius: 10px;
    background-color: red;
}

.btn-red:hover {
    background-color: rgb(182, 17, 17);
    border: 2px solid rgb(182, 17, 17);
    color: white;
}

.btn-red:focus {
    border: 2px solid rgb(255, 150, 150);
}

.btn-yellow {
    color: #777777;
    border: 2px solid yellow;
    background-color: yellow;
    border-radius: 10px;  
}

.btn-yellow:hover {
    background-color: rgb(240, 240, 0);
    border: 2px solid rgb(240, 240, 0);
    color: #777777;
}

.btn-yellow:focus {
    border: 2px solid rgb(255, 255, 184);
}

.btn-blue {
    color: white;
    border: 2px solid #0d6efd;
    background-color: #0d6efd;
    border-radius: 10px;  
}

.btn-blue:hover {
    background-color: #0761e7;
    border: 2px solid #0761e7;
    color: white;
}

.btn-blue:focus {
    border: 2px solid rgb(129, 140, 233);
}

.btn-green {
    color: white;
    border: 2px solid green;
    background-color: green;
    border-radius: 10px;  
}

.btn-green:hover {
    background-color: rgb(7, 109, 7);
    border: 2px solid rgb(7, 109, 7);
    color: white;
}

.btn-green:focus {
    border: 2px solid rgb(172, 248, 172);
}

.btn-orange {
    color: white;
    border: 2px solid orangered;
    background-color: orangered;
    border-radius: 10px;  
}

.btn-orange:hover {
    background-color: rgb(219, 67, 11);
    border: 2px solid rgb(219, 67, 11);
    color: white;
}

.btn-orange:focus {
    border: 2px solid rgb(250, 159, 126);
}

.btn-gray {
    color: white;
    border: 2px solid #404040;
    background-color: #404040;
    border-radius: 10px;  
}

.btn-gray:hover {
    background-color: #333232;
    border: 2px solid #333232;
    color: white;
}

.btn-gray:focus {
    border: 2px solid #b6b6b6;
}

.btn-white {
    color: rgb(90, 90, 90);
    border: 2px solid #f5f5f5;
    border-radius: 10px;
    background-color: #f5f5f5; 
}

.btn-white:hover {
    background-color: #dfdfdf;
}

.btn-white:focus {
    border: 2px solid #f1f1f1;
}

/*position*/
.p-fixed {
    position: fixed;
}

.p-absolute {
    position: absolute;
}

.p-relative {
    position: relative;
}