/*
//petrucciii.css by petrucci v1.0.0
//
//https://github.com/petrucciii/petrucciii.css
//
//last update 24/07/2021
*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300&display=swap');

* {
    margin: 0;
}

body {
    font-family: sans-serif;
}

p {
    margin: 0;
}

/*typography*/
/*titles*/
.h1 {
    font-size: 33px !important;
    font-family: 'Montserrat', sans-serif !important;
}

.h2 {
    font-size: 29px !important;
    font-family: 'Montserrat', sans-serif !important;
}

.h3 {
    font-size: 26px !important;
    font-family: 'Montserrat', sans-serif !important;
}

.h4 {
    font-size: 23px !important;
    font-family: 'Montserrat', sans-serif !important;
}

.h5 {
    font-size: 20px !important;
    font-family: 'Montserrat', sans-serif !important;
}

.h6 {
    font-size: 17px !important;
    font-family: 'Montserrat', sans-serif !important;
}

/*paragraph*/
.paragraph {
    font-family: 'Montserrat', sans-serif !important;
    font-size: 18px !important;
}

/*sizing*/
/*margin*/
.m-1 {
    margin: 10px;
}

.m-2 {
    margin: 20px;
}

.m-3 {
    margin: 30px;
}

.m-4 {
    margin: 40px;
}

.m-5 {
    margin: 50px;
}

.m-6 {
    margin: 60px;
}

.m-7 {
    margin: 70px;
}

.m-8 {
    margin: 80px;
}

.m-9 {
    margin: 90px;
}

/*margin top*/
.mt-1 {
    margin-top: 10px;
}

.mt-2 {
    margin-top: 20px;
}

.mt-3 {
    margin-top: 30px;
}

.mt-4 {
    margin-top: 40px;
}

.mt-5 { 
    margin-top: 50px;
}

.mt-6 {
    margin-top: 60px;
}

.mt-7 {
    margin-top: 70px;
}

.mt-8 {
    margin-top: 80px;
}

.mt-9 {
    margin-top: 90px;
}

/*margin bottom*/
.mb-1{
    margin-bottom: 10px;
}

.mb-2 {
    margin-bottom: 20px;
}

.mb-3 {
    margin-bottom: 30px;
}

.mb-4 {
    margin-bottom: 40px;
}

.mb-5 {
    margin-bottom: 50px;
}

.mb-6 {
    margin-bottom: 60px;
}

.mb-7 {
    margin-bottom: 70px;
}

.mb-8 {
    margin-bottom: 80px;
}

.mb-9 {
    margin-bottom: 90px;
}

/*margin left*/
.ml-1 {
    margin-left: 10px;
}

.ml-2 {
    margin-left: 20px;
}

.ml-3 {
    margin-left: 30px;
}

.ml-4 {
    margin-left: 40px;
}

.ml-5 {
    margin-left: 50px;
}

.ml-6 {
    margin-bottom: 60px;
}

.ml-7 {
    margin-left: 70px;
}

.ml-8 {
    margin-left: 80px;
}

.ml-9 {
    margin-left: 90px;
}

/*margin right*/
.mr-1 {
    margin-right: 10px;
}

.mr-2 {
    margin-right: 20px;
}

.mr-3 {
    margin-right: 30px;
}

.mr-4 {
    margin-right: 40px;
}

.mr-5 {
    margin-right: 50px;
}

.mr-6 {
    margin-right: 60px;
}

.mr-7 {
    margin-right: 70px;
}

.mr-8 {
    margin-right: 80px;
}

.mr-9 {
    margin-right: 90px;
}

/*padding*/
.p-1 {
    padding: 10px;
}

.p-2 {
    padding: 20px;
}

.p-3 {
    padding: 30px;
}

.p-4 {
    padding: 40px;
}

.p-5 {
    padding: 50px;
}

.p-6 {
    padding: 60px;
}

.p-7 {
    padding: 70px;
}

.p-8 {
    padding: 80px;
}

.p-9 {
    padding: 90px;
}

/*padding top*/
.pt-1 {
    padding-top: 10px;
}

.pt-2 {
    padding-top: 20px;
}

.pt-3 {
    padding-top: 30px;
}

.pt-4 {
    padding-top: 40px;
}

.pt-5 { 
    padding-top: 50px;
}

.pt-6 {
    padding-top: 60px;
}

.pt-7 {
    padding-top: 70px;
}

.pt-8 {
    padding-top: 80px;
}

.pt-9 {
    padding-top: 90px;
}

/*padding bottom*/
.pb-1{
    padding-bottom: 10px;
}

.pb-2 {
    padding-bottom: 20px;
}

.pb-3 {
    padding-bottom: 30px;
}

.pb-4 {
    padding-bottom: 40px;
}

.pb-5 {
    padding-bottom: 50px;
}

.pb-6 {
    padding-bottom: 60px;
}

.pb-7 {
    padding-bottom: 70px;
}

.pb-8 {
    padding-bottom: 80px;
}

.pb-9 {
    padding-bottom: 90px;
}

/*padding left*/
.pl-1 {
    padding-left: 10px;
}

.pl-2 {
    padding-left: 20px;
}

.pl-3 {
    padding-left: 30px;
}

.pl-4 {
    padding-left: 40px;
}

.pl-5 {
    padding-left: 50px;
}

.pl-6 {
    padding-bottom: 60px;
}

.pl-7 {
    padding-left: 70px;
}

.pl-8 {
    padding-left: 80px;
}

.pl-9 {
    padding-left: 90px;
}

/*padding right*/
.pr-1 {
    padding-right: 10px;
}

.pr-2 {
    padding-right: 20px;
}

.pr-3 {
    padding-right: 30px;
}

.pr-4 {
    padding-right: 40px;
}

.pr-5 {
    padding-right: 50px;
}

.pr-6 {
    padding-right: 60px;
}

.pr-7 {
    padding-right: 70px;
}

.pr-8 {
    padding-right: 80px;
}

.pr-9 {
    padding-right: 90px;
}

/*sizing*/
/*width*/
.w-25 {
    width: 25%;
}

.w-50 {
    width: 50%;
}

.w-75 {
    width: 75%;
}

.w-100 {
    width: 100%;
}

/*height*/
.h-25 {
    height: 25%;
}

.h-50 {
    height: 50%;
}

.h-75 {
    height: 75%;
}

.h-100 {
    height: 100%;
}

/*display*/
.d-block {
    display: block;
}

.d-none {
    display: none;
}

.d-flex {
    display: flex;
}

.d-grid {
    display: grid;
}

.d-inline {
    display: inline;
}

.d-iblock {
    display: inline-block;
}

.d-iflex {
    display: inline-flex;
}

.d-table {
    display: table;
}

/*container*/
.container {
    margin-left: 2% !important;
    margin-right: 2% !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.container-sm {
    margin-left: 2% !important;
    margin-right: 2% !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.container-md {
    margin-left: 5% !important;
    margin-right: 5% !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.container-lg {
    margin-left: 8% !important;
    margin-right: 8% !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.container-xl {
    margin-left: 11% !important;
    margin-right: 11% !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

/*colors*/
.c-red {
    color: red;
}

.c-yellow {
    color: yellow;
}

.c-blue {
    color: #0d6efd;
}

.c-green {
    color: green;
}

.c-orange {
    color: orangered;
}

.c-gray {
    color: #404040;
}

.c-white {
    color: white;
}

.c-black {
    color: black;
}

/*background colors*/
.bg-red {
    background-color: red;
}

.bg-yellow {
    background-color: yellow;
}

.bg-blue {
    background-color: #0d6efd;
}

.bg-green {
    background-color: green;
}

.bg-orange {
    background-color: orangered;
}

.bg-gray {
    background-color: #404040;
}

.bg-white {
    background-color: white;
}

.bg-black {
    background-color: black;
}

/*button*/
.btn {
    text-decoration: none !important;
    border-radius: 10px !important;
    padding: 15px !important;
}

/*style*/
.btn-outline {
    background-color: white !important;
}

/*size*/
.btn-sm {
    padding: 10px !important;
}

.btn-md {
    padding: 15px !important;
}

.btn-lg {
    padding: 20px !important;
}

.btn-xl {
    padding: 25px !important;
}

/*colors*/
/*outline buttons*/
.btn-outline-red {
    color: red !important;
    border: 2px solid red !important;
    border-radius: 10px !important;  
}

.btn-outline-red:hover {
    background-color: red !important;
    color: white !important;
}

.btn-outline-red:focus {
    border: 2px solid rgb(255, 150, 150) !important;
}

.btn-outline-yellow {
    color: yellow !important;
    border: 2px solid yellow !important;
    border-radius: 10px !important;  
}

.btn-outline-yellow:hover {
    background-color: yellow !important;
    color: black !important;
}

.btn-outline-yellow:focus {
    border: 2px solid rgb(255, 255, 184) !important;
}

.btn-outline-blue {
    color: #0d6efd !important;
    border: 2px solid #0d6efd !important;
    border-radius: 10px !important;  
}

.btn-outline-blue:hover {
    background-color: #0d6efd !important;
    color: white !important;
}

.btn-outline-blue:focus {
    border: 2px solid rgb(150, 160, 255) !important;
}

.btn-outline-green {
    color: green !important;
    border: 2px solid green !important;
    border-radius: 10px !important;  
}

.btn-outline-green:hover {
    background-color: green !important;
    color: white !important;
}

.btn-outline-green:focus {
    border: 2px solid rgb(172, 248, 172) !important;
}

.btn-outline-orange {
    color: orangered !important;
    border: 2px solid orangered !important;
    border-radius: 10px !important;  
}

.btn-outline-orange:hover {
    background-color: orangered !important;
    color: white !important;
}

.btn-outline-orange:focus {
    border: 2px solid rgb(250, 159, 126) !important;
}

.btn-outline-gray {
    color: #404040 !important;
    border: 2px solid #404040 !important;
    border-radius: 10px !important;  
}

.btn-outline-gray:hover {
    background-color: #404040 !important;
    color: white !important;
}

.btn-outline-gray:focus {
    border: 2px solid #b6b6b6 !important;
}

.btn-outline-white {
    color: rgb(90, 90, 90) !important;
    border: 2px solid #f5f5f5 !important;
    border-radius: 10px !important;  
}

.btn-outline-white:hover {
    background-color: #dbdbdb !important;
    color: white !important;
}

.btn-outline-white:focus {
    border: 2px solid #f1f1f1 !important;
}

/*normal buttons*/
.btn-red {
    color: white !important;
    border: 2px solid red !important;
    border-radius: 10px !important;
    background-color: red !important;
}

.btn-red:hover {
    background-color: rgb(182, 17, 17) !important;
    border: 2px solid rgb(182, 17, 17) !important;
    color: white !important;
}

.btn-red:focus {
    border: 2px solid rgb(255, 150, 150) !important;
}

.btn-yellow {
    color: #777777 !important;
    border: 2px solid yellow !important;
    background-color: yellow !important;
    border-radius: 10px !important;  
}

.btn-yellow:hover {
    background-color: rgb(240, 240, 0) !important;
    border: 2px solid rgb(240, 240, 0) !important;
    color: #777777 !important;
}

.btn-yellow:focus {
    border: 2px solid rgb(255, 255, 184) !important;
}

.btn-blue {
    color: white;
    border: 2px solid #0d6efd !important;
    background-color: #0d6efd !important;
    border-radius: 10px;  
}

.btn-blue:hover {
    background-color: #0761e7 !important;
    border: 2px solid #0761e7 !important;
    color: white !important;
}

.btn-blue:focus {
    border: 2px solid rgb(129, 140, 233) !important;
}

.btn-green {
    color: white !important;
    border: 2px solid green !important;
    background-color: green !important;
    border-radius: 10px !important;  
}

.btn-green:hover {
    background-color: rgb(7, 109, 7) !important;
    border: 2px solid rgb(7, 109, 7) !important;
    color: white !important;
}

.btn-green:focus {
    border: 2px solid rgb(172, 248, 172) !important;
}

.btn-orange {
    color: white !important;
    border: 2px solid orangered !important;
    background-color: orangered !important;
    border-radius: 10px !important;  
}

.btn-orange:hover {
    background-color: rgb(219, 67, 11) !important;
    border: 2px solid rgb(219, 67, 11) !important ;
    color: white !important;
}

.btn-orange:focus {
    border: 2px solid rgb(250, 159, 126) !important;
}

.btn-gray {
    color: white !important;
    border: 2px solid #404040 !important;
    background-color: #404040 !important;
    border-radius: 10px !important;  
}

.btn-gray:hover {
    background-color: #333232 !important;
    border: 2px solid #333232 !important;
    color: white !important;
}

.btn-gray:focus {
    border: 2px solid #b6b6b6 !important;
}

.btn-white {
    color: rgb(90, 90, 90) !important;
    border: 2px solid #f5f5f5 !important;
    border-radius: 10px !important;
    background-color: #f5f5f5 !important; 
}

.btn-white:hover {
    background-color: #dfdfdf !important;
}

.btn-white:focus {
    border: 2px solid #f1f1f1 !important;
}

/*position*/
.p-fixed {
    position: fixed !important;
}

.p-absolute {
    position: absolute !important;
}

.p-relative {
    position: relative !important;
}

/*alignment*/
.text-start {
    text-align: start !important;
}

.text-center {
    text-align: center !important;
}

.text-end {
    text-align: end !important;
}

/*visibility*/
.visible {
    visibility: visible !important;
}

.invisible {
    visibility: hidden !important;
}

/*font*/
/*size*/
.fs-xs {
    font-size: 10px;
}

.fs-sm {
    font-size: 15px;
}

.fs-md {
    font-size: 20px;
}

.fs-lg {
    font-size: 25px;
}

.fs-xl {
    font-size: 30px;
}

/*weight*/
.fw-xs {
    font-weight: 100;
}

.fw-xs {
    font-weight: 300;
}

.fw-xs {
    font-weight: 500;
}

.fw-xl {
    font-weight: 800;
}

/*families*/
.f-couriernew {
    font-family: 'Courier New', Courier, monospace;
}

.f-segoeui {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.f-fankilngothicmedium {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.f-gillsans {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.f-lucidasans {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.f-times {
    font-family: 'Times New Roman', Times, serif;
}

/*nav*/
.nav {
    padding: 20px !important;
}

.nav-dark {
    background-color: #404040 !important;
    color: white !important;
}

.nav-light {
    background-color: rgb(238, 238, 238);
    color: black !important;
}

.nav-item {
    display: inline-block !important;
}

.nav-link {
    text-decoration: none !important;
}

.nav-fixed {
    position: fixed !important;
    width: 100% !important;
}

.nav-hamburger {
    display: none !important;
    margin-left: 90% !important;
    margin-right: 28% !important;
    margin-top: -23px !important;
    cursor: pointer !important;
}

@media screen and (max-width: 900px) {
    .nav-link {
        display: none !important;
    }

    .nav-hamburger {
        display: block !important;
    }
}

@media screen and (max-width: 500px) {
    .nav-hamburger {
        margin-left: 80% !important;
    }
}