.text-start {
    text-align: start;
}

.text-center {
    text-align: center;
}

.text-end {
    text-align: end;
}

.start {
    display: flex;
    justify-self: start;
}

.center {
    display: flex;
    justify-content: center;
}

.end {
    display: flex;
    justify-content: end;
}