/*colors*/
.c-red {
    color: red !important;
}

.c-yellow {
    color: yellow !important;
}

.c-blue {
    color: #0d6efd !important;
}

.c-green {
    color: green !important;
}

.c-orange {
    color: orangered !important;
}

.c-gray {
    color: #404040 !important;
}

.c-white {
    color: white !important;
}

.c-black {
    color: black !important;
}

/*background colors*/
.bg-red {
    background-color: red !important;
}

.bg-yellow {
    background-color: yellow !important;
}

.bg-blue {
    background-color: #0d6efd !important;
}

.bg-green {
    background-color: green !important;
}

.bg-orange {
    background-color: orangered !important;
}

.bg-gray {
    background-color: #404040 !important;
}

.bg-white {
    background-color: white !important;
}

.bg-black {
    background-color: black !important;
}