.container {
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.container-sm {
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.container-md {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.container-lg {
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.container-xl {
    margin-left: 11%;
    margin-right: 11%;
    margin-top: 10px;
    margin-bottom: 10px;
}