.d-block {
    display: block;
}

.d-none {
    display: none;
}

.d-flex {
    display: flex;
}

.d-grid {
    display: grid;
}

.d-inline {
    display: inline;
}

.d-iblock {
    display: inline-block;
}

.d-iflex {
    display: inline-flex;
}

.d-table {
    display: table;
}