/*size*/
.fs-xs {
    font-size: 10px;
}

.fs-sm {
    font-size: 15px;
}

.fs-md {
    font-size: 20px;
}

.fs-lg {
    font-size: 25px;
}

.fs-xl {
    font-size: 30px;
}

/*weight*/
.fw-xs {
    font-weight: 100;
}

.fw-xs {
    font-weight: 300;
}

.fw-xs {
    font-weight: 500;
}

.fw-xl {
    font-weight: 800;
}

/*families*/
.f-couriernew {
    font-family: 'Courier New', Courier, monospace;
}

.f-segoeui {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.f-fankilngothicmedium {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.f-gillsans {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.f-lucidasans {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.f-times {
    font-family: 'Times New Roman', Times, serif;
}