@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300&display=swap');

/*titles*/
.h1 {
    font-size: 33px;
    font-family: 'Montserrat', sans-serif;
}

.h2 {
    font-size: 29px;
    font-family: 'Montserrat', sans-serif;
}

.h3 {
    font-size: 26px;
    font-family: 'Montserrat', sans-serif;
}

.h4 {
    font-size: 23px;
    font-family: 'Montserrat', sans-serif;
}

.h5 {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

.h6 {
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
}

/*paragraph*/
.paragraph {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}